@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Heebo", sans-serif;
  margin: 0rem;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;

  display: flex;
  flex-direction: column;
  background-color: #f4f5f0;
  /* background-color: white; */

  box-sizing: border-box;
  padding-top: 5.5rem;
}

a {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
