.big-card{
    display: flex;
    border: 0.15rem solid black;
    margin: 1rem;
    max-width: 24rem;
    min-width: 15rem;
    border-radius: 1%;

    height: 18.6rem;
    
    transition: all 0.2s ease-out;

    flex: 1;

    flex-basis: 0;

    background-color: white;
}

.big-card-nav img{
    border-top: 0.15rem solid black;
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit:cover;

    }

.big-card-info h2{
    text-align: left;
    margin: 0rem;
}

.big-card-info{
    margin: 0.1rem 1rem;
}

.big-card:hover{
    transform: translate(-0.25rem, -0.25rem);
    box-shadow: 0.3rem 0.3rem #000000;
}

@media only screen and (max-width: 47.9rem){
    .big-card{
        max-width: 50rem;
        min-width: 15rem;
    }
    
}