.blog-references{
    margin: 1.5rem 6rem;
    text-align: left;

    font-weight: 400;
}

.blog-list{
    padding-left: 1.5rem;

    list-style-type: square;
}

.blog-list li{
    padding: 0.5rem 1rem;
}