/* Desktop View */

.blog-contents{
    margin: 3rem 6rem;
    text-align: left;
}

.blog-contents p{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.blog-figure{
    text-align: center;
}

.blog-figure figcaption{
    text-align: left;
    margin-left: 10%;

    margin-bottom: 2rem;

    border-left: 3px solid black;

    padding-left: 1rem;
}

.blog-image{
    text-align: center;

    margin: 2rem 0rem 1rem 0rem;

    height: 80%;

    width: 80%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    object-fit:contain;

    padding: -1rem;

    border: 0.2rem solid black;
    border-radius: 1%;
}

.blog-buttons{  
    display: inline-flex;
    flex-direction: row;
}

.blog-buttons a{
    margin: 1rem 2rem;
}

.inline-link{
    text-decoration: underline;
    color: blue;
}

/* Response View */

@media only screen and (max-width: 64rem) {
    .blog-contents{
        margin: 3rem 4rem;
    }

    .blog-image{    
        height: 90%;
    
        width: 90%;
    }

    .blog-figure figcaption{
        margin-left: 5%;
    }
}

@media only screen and (max-width: 47.8rem) {
    .blog-buttons{  
        flex-direction: column;
    }

    .blog-contents{
        margin: 1.5rem 2rem;
    }

    .blog-image{    
        height: 100%;
    
        width: 100%;

        margin: 1rem 0rem 1rem 0rem;
    }

    .blog-figure figcaption{
        margin-left: 0%;

        margin-bottom: 2rem;
        font-size: 1rem;
    }

    .blog-figure{
        margin: 1rem;
    }
}