/* Desktop View */

.blog-references{
    margin: 1.5rem 6rem;
    text-align: left;

    font-weight: 400;

    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.blog-list{
    padding-left: 1.5rem;

    list-style-type: square;
}

.blog-list li{
    padding: 0.5rem 1rem;
}

/* Response View */

@media only screen and (max-width: 64rem) {
    .blog-references{
        margin: 1.5rem 4rem;    
    }
}

@media only screen and (max-width: 47.8rem) {
    .blog-references{
        margin: 1.5rem 2rem;    
    }
}