.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 999;

    text-align: left;
    padding: 2rem;

    border-radius: 1rem;
    border: 0.15rem solid black;

    width: 80%;
    max-width:40rem;
    max-height: 80%;

    overflow-y: scroll;

    box-shadow: 0.2rem 0.2rem #000000, 0.5rem 0.5rem 0rem 0.05rem black;
}

.modal-overlay{
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(175, 175, 175, 0.5);
    z-index: 999;
}

.modal-cookie-title h3{
    margin: 0rem;
}

.modal-cookie{
    margin: 1rem 0rem 0rem 0rem;
}

.modal-title{
    margin: 0rem;
    font-size: 2.5rem;
}

.modal-cookie-checkbox p{
    font-size: 1rem;
    font-weight: 400;
    padding-left: 1rem;
    margin: 0.5rem;
}

.modal-cookie-checkbox input[type="checkbox"]{
    accent-color: rgb(109, 204, 166);
    transform: scale(1.5);
}

.modal-cookie-checkbox input[type="checkbox"] + .modal-cookie-checkbox label:before{
    content: "/2714";
}

.modal-cookie-checkbox{
    display: inline-flex;
    align-items: center;
}

.modal-cookie-buttons{
    text-align: right;
}

.denied-mouse{
    cursor: not-allowed;
}

.modal-subtext{
    font-weight: 400;
    margin-top: 0.5rem;
}

  /* Response View */
  
  @media only screen and (max-width: 47.9rem){
    .modal-cookie-title h3{
        font-size: 1rem;
        margin: 0rem 0rem 0rem 0rem;
    }

    .modal-title{
        font-size: 2rem;
        line-height: 2.3rem;
    }

    .modal-cookie{
        margin-top: 0.5rem;
    }

    .modal{
        width: 75%;
        padding: 1.5rem;
    }

    .modal-cookie-buttons{
        text-align: center;
    }
  }