.main-footer {
  background-color: black;
  
  margin-top: 3rem;

  position: relative;
  bottom: 0rem;
  width: 100%;
}

.main-footer-contents {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding-left: 1rem;
  color: white;
}

.main-footer-contents p,
time {
  padding: 0.5rem;
}

@media only screen and (max-width: 64rem) {
  .main-footer {    
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 47.9rem) {
  .main-footer {    
    margin-top: 0.5rem;
  }
}