/* Desktop View */

.main-button{
  
    margin-top: 1.3rem;
    width: fit-content;
    font-size: 1.4rem;
    
    padding: 0.4rem 1rem;
  
    border-radius: 5%;
    border: 0.125rem solid black;
  
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition: all 0.2s ease-out;
  }

  .main-button:hover{
    transform: translate(-0.25rem, -0.25rem);
    box-shadow: 0.3rem 0.3rem #fc85f0, 0.3rem 0.3rem 0rem 0.1rem black;
    cursor: pointer;
  }

  .main-button{
    display: inline-block;
    width: 15rem;

    text-align: center;
}

/* Response View */
  
  @media only screen and (max-width: 47.8rem) {
      .main-button{
          text-align: center;

          margin: 1rem auto 1.5rem auto;
      }
  }