/* Desktop View */

main{
  min-height: calc(100vh - 259px);
}

.strike-through-text{
  display: inline;
  white-space: normal;
  text-decoration-line: line-through;
}

body {
  font-family: "Heebo", sans-serif;
  margin: 0rem;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;

  display: flex;
  flex-direction: column;

  background-color: rgb(251, 251, 251);

  box-sizing: border-box;
  padding-top: 4rem;
}

a {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.homepage-grid{
  display: inline-flex;
  align-content: center;
  flex-wrap: wrap;

  justify-content: center;
  width: 90%;
  margin: 1rem 0rem;

  justify-content: space-between;


}

.sub-heading{
  font-size: 2.75rem;
  text-align: left;
  
  margin: 3rem 3rem 0rem 3rem;
}

h3{
  text-align: left;

  margin: 2rem 3rem 1rem 3rem;
}

.page-container{
  max-width: 85rem;
  margin-left: auto;
  margin-right: auto;
}
  
/* Response View */

@media only screen and (max-width: 64rem){
  main{
    min-height: calc(100vh - 211px);
  }
}

@media only screen and (max-width: 47.9rem){
  main{
    min-height: calc(100vh - 187px);
  }
  
  .sub-heading{
    font-size: 1.5rem;
    text-align: left;

    margin: 0rem 2.2rem;
  }

  .homepage-grid{
    margin: 0.5rem 0rem;
  }
}