/* Modal General Styles */

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 999;

    text-align: left;
    padding: 2rem;

    border-radius: 1rem;
    border: 0.15rem solid black;

    width: 80%;
    max-width:40rem;
    max-height: 80%;

    overflow-y: scroll;

    scrollbar-width: none;

    box-shadow: 0.2rem 0.2rem #000000, 0.5rem 0.5rem 0rem 0.05rem black;
}

.modal::-webkit-scrollbar {
    display: none;
  }

.modal-overlay{
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(175, 175, 175, 0.5);
    z-index: 999;
}

.modal-subtext{
    font-weight: 400;
    margin-top: 0.5rem;
}

.denied-mouse{
    cursor: not-allowed;
}

/* Free Blog Limit Reached Modal Specific Styles */

.free-blog-limit-reached-modal{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .free-blog-limit-reached-modal-header h2{
    margin: 2rem 1rem 1rem 1rem;
    font-size: 3rem;
  
    line-height: 3.5rem;
  }

  .free-blog-limit-reached-modal-text{
    margin: 0rem 0rem 0.8rem 0rem;
  
    font-size: 1.5rem;
    font-weight: 400;
  }

  .limit-reached-button-container{
    width: 100%;
  
    max-width: 30rem;
  }

  /* Cookie Modal Specific Styles */

.modal-cookie-title h3{
    margin: 0rem;
}

.modal-cookie{
    margin: 1rem 0rem 0rem 0rem;
}

.modal-title{
    margin: 0rem;
    font-size: 2.5rem;
}

.modal-cookie-checkbox p{
    font-size: 1rem;
    font-weight: 400;
    padding-left: 1rem;
    margin: 0.5rem;
}

.modal-cookie-checkbox input[type="checkbox"]{
    accent-color: rgb(109, 204, 166);
    transform: scale(1.5);
}

.modal-cookie-checkbox input[type="checkbox"] + .modal-cookie-checkbox label:before{
    content: "/2714";
}

.modal-cookie-checkbox{
    display: inline-flex;
    align-items: center;
}

.modal-cookie-buttons{
    text-align: right;
}

/* Confirmation Modal Specific Styles */

.confirmation-modal{
    text-align: center;
}

.confirmation-modal-title{
    font-size: 3rem;
    margin: 0rem;
}

.confirmation-modal-subtext{
    font-size: 1rem;
    font-weight: 400;
    margin: 0rem 1rem 0.75rem 1rem;
  }

  /* Confirm Shame Dark UI/UX Modal */


  .confirm-shame-modal{
    display: flex;
    align-items: center;
  }

  .confirm-shame-modal-side-image{
    height: 13rem;

    margin: 1rem;
  }

  .confirm-shame-modal-form-input{
    width: 100%;

    border: 0.1rem solid black;
    font-size: 1rem;
    padding: 0.5rem;

    border-radius: 0.2rem;

    box-sizing: border-box;

    text-align: center;
  }

  .confirm-shame-modal-form-input::placeholder {
    text-align: center;
  }

  .confirm-shame-modal-form{
    margin: 0.5rem;
}

.confirm-shame-modal-header h2{
    margin: 0.2rem 0rem 0.8rem 0rem;
}

.confirm-shame-modal-header{
    display: flex;
    flex-direction: column;

    margin: 0.5rem;
}

.confirm-shame-modal-subtext{
    font-weight: 400;
    font-size: 1.15rem;
    margin: 0rem 0rem 1rem 0rem;
}

.confirm-shame-button{
    border: 0rem;
    background-color: white;
    text-decoration: underline;
    color: #00000081;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-top: 0.8rem;
}

  /* Response View */
  
@media only screen and (max-width: 47.9rem){

.modal,
.free-blog-limit-reached-modal,
.confirmation-modal,
.confirm-shame-modal{
    width: 75%;
    padding: 1.5rem;
}

.free-blog-limit-reached-modal-text{
    margin: 1rem 0.5rem 0rem 0.5rem;
    text-align: center;
    white-space: normal;
}

.free-blog-limit-reached-modal-header h2{
    font-size: 1.8rem;
    line-height: 2.3rem;
    margin: 1rem 1rem 0.5rem 1rem;
}

.free-blog-limit-reached-modal-text{
    font-size: 1.3rem;
    margin: 0rem 0rem 1rem 0rem;
}

.modal-cookie-title h3{
    font-size: 1rem;
    margin: 0rem;
}

.modal-title{
    font-size: 2rem;
    line-height: 2.3rem;
}

.modal-cookie{
    margin-top: 0.5rem;
}

.modal-cookie-buttons{
    text-align: center;
}

.confirmation-modal-title{
    font-size: 2rem;
    line-height: 2.3rem;
    margin-bottom: 1rem;
}

.confirmation-modal-subtext{
    font-size: 0.9rem;
    margin: 1rem 0rem 1rem 0rem;
}

.confirm-shame-modal{
    display: flex;
    flex-direction: column;
  }

  .confirm-shame-modal-side-image{
    height: 10rem;
  }

  .confirm-shame-modal-header h2{
    margin: 0.2rem 0rem 0.8rem 0rem;
    font-size: 1.3rem;
}

.confirm-shame-modal-header{
    margin: 0.3rem;
    text-align: center;
}

.confirm-shame-modal-subtext{
    font-size: 1rem;
}

.confirm-shame-button{
    font-size: 0.8rem;
}
}