.big-card-comp{
    width: auto;
}

.big-card{
    flex: 1;

    flex-basis: 0;

    border: 0.15rem solid black;
    border-top: 0.3rem solid black;

    position: relative;

    height: 28rem;

    transition: 0.3s ease-in-out;


}

.big-card:hover{
    transform: translate(0%, -3%);
    transition: 0.3s ease-in-out;

    box-shadow: 0rem 1rem #000000;
}

.big-card:hover{
    box-shadow: 0rem 1rem #000000;
}

.big-card-nav{
    max-width: 24rem;
}

.big-card-nav img{
    width: 100%;
    height: 86%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit:cover;

    overflow: hidden;
}

.big-card-info h2{

    border-bottom: 5px solid black;
    background-color: white;
    margin-top: 0rem;
    padding: 0.5rem;
    margin-bottom: auto;

}

.test-onet{
    position: absolute;
    width: 25rem;
    transform: translate(-50%, 25%);
    transition: all 0.2s ease-out;
}

.big-card:hover .test-onet{
    transform: translate(-53%, 23%);
    transition: all 0.2s ease-out;
    
    box-shadow: 1px solid black;

}

